@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  font-family: 'Anton';
  font-size: large;
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #ebede8;
  padding: 10px 0;
}

.header {
  background-color: #fff;
}

.wrapper {
  height: 100%;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;
}
